<div class="container-fluid">
	<div class="row">
		<form>
			<div id="teams-list" class="row col-xs-12">
				<div class="col-xs-12 col-sm-6">
					<h4>Currently grading:</h4>

					<select id="team-select" class="form-control" ng-model="selectedTeam" ng-options="team.name for team in teams track by team.$id">
						<option disabled selected value>{{ teams.$resolved ? 'Pick a team' : 'Loading...' }}</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-6">
					(1 = strongly disagree, 7 = strongly agree)
				</div>
			</div>

			<div class="col-xs-12">
				<div ng-repeat="group in questionGroups">
					<h3><b>{{ group.header }}</b></h3>
					<div class="panel panel-default" ng-repeat="question in group.questions">
						<div class="panel-heading">
							<h3 class="panel-title">{{ question.text }}</h3>
						</div>

						<fieldset class="panel-body">
							<!-- Question with radio button -->
							<div ng-if="question.type === 'radio'">
								<input id="{{ 'radio-yes-' + $index }}" type="radio" ng-value="true" ng-model="question.value">
								<label for="{{ 'radio-yes-' + $index }}">Yes</label>

								<input id="{{ 'radio-yes-' + $index }}" type="radio" ng-value="false" ng-model="question.value">
								<label for="{{ 'radio-no-' + $index }}">No</label>
							</div>

							<!-- Question with range slider -->
							<rzslider ng-if="question.type === 'range'" rz-slider-model="question.value" rz-slider-options="sliderOptions"></rzslider>

							<div>
								<button class="btn btn-primary btn_cmt" ng-click="question.showCommentBox = !question.showCommentBox">{{ question.showCommentBox ? 'Hide comments' : 'Add comments' }}</button>
							</div>
							<div class="input-textarea" ng-show="question.showCommentBox">
								<label for="{{ 'comment-' + $index }}">Comments</label>
								<textarea class="form-control" id="{{ 'comment-' + $index }}" rows="3" ng-model="question.comment"></textarea>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</form>

		<div class="row col-sm-12 col-xs-12">
			<div class="col-sm-10 col-xs-12">
				<div class="alert alert-{{ alertRole }}" ng-show="alertVisible">
					{{ alertMessage }}
				</div>
			</div>
			<div class="col-sm-2 col-xs-12">
				<button type="submit" id="submit-btn" class="btn btn-primary btn-submit" ng-click="onSubmit()">Submit</button>
			</div>
		</div>
	</div>
</div>