<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10">
			<h2>Judge Reviews for {{ team.name }}</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 table-reponsive">
			<table class="table">
				<thead>
					<tr>
						<th>Judge</th>
						<td>Rank</td>
						<td ng-repeat="question in questions">{{ question | header:$index }}</td>
						<td>Avg</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="review in reviews">
						<td>{{ review.$id }}</td>
						<td>{{ review.rank }}</td>
						<td ng-repeat="question in questions">{{ review.ratings[question.label] | rating }}</td>
						<td>{{ review.average | rating }}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td><b>{{ team.name }} Averages</b></td>
						<td>{{ team.averages['rank'] }}</td>
						<td ng-repeat="question in questions">{{ team.averages[question.label] | rating }}</td>
						<td>{{ team.averages['overall'] }}</td>
					</tr>
					<tr>
						<td>Class {{ isSmallScreen ? 'Avg' : 'Average'}}</td>
						<td>Rank</td>
						<td ng-repeat="question in questions">{{ sessionAverages[question.label] | rating }}</td>
						<td>{{ sessionAverages['overall'] | rating }}</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h2>Comments</h2>
			<ul>
				<li ng-repeat="question in questions">
					<h4 class="question-text">{{ question | header:$index }}: {{ question.text }}</h4>
					<ul>
						<li class="comment-text" ng-repeat="review in reviews | hasComments:question.label">
							<b>{{ review.$id }}</b>: {{ review.comments[question.label] }}
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>