<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<form id="addTeamForm">
				Team Name:
				<input class="form-control" type="text" ng-model="name"><br>

				Product/App:
				<input class="form-control" type="text" ng-model="product"><br>

				Description:
				<input class="form-control" type="text" ng-model="desc"><br>

				Team Password:
				<input class="form-control" type="text" ng-model="teamPass"><br>
				<div class="alert alert-{{ alertRole }}" ng-show="alertVisible">
					{{ alertMessage }}
				</div>
				<button class="btn btn-primary btn_addTeam" type="submit" name="button" ng-click="addTeam()">Add Team</button>
			</form>
		</div>
	</div>
</div>