.addTeam {
	padding-left: 8px;
}

tr:hover {
	background: rgb(245, 238, 247);
}

.download_text {
	font-size: 2rem;
	color: white;
}

.download_option {
	font-size: 1rem;
}

.btn-download {
	width: 70%;
    margin-left:50px;
    margin-top: 8px;
    min-width: 135px;
}

.table-container {
	margin-top: 10px;
}

.container-fluid{
	background: white;

}