<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<h3 class="judge-page-h3">Reviewed teams</h3>
		</div>
		<div class="col-sm-9">
			<img src="judge/Cursor-Move-512.png" id="drag-reminder-img">
			<h4 id="drag-reminder">Drag and drop to stack rank the teams!</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 table-responsive">
			<table class="table">
				<thead>
					<tr>
						<td ng-if="isSmallScreen"></td>
						<td>Team</td>
						<td>Rank</td>
						<td>Avg</td>
						<td ng-repeat="question in questions">{{ question | header:$index }}</td>
					</tr>
				</thead>
				<tbody id="sortable">
					<tr class="sortable-row {{ team.moved ? 'success' : '' }}" ng-repeat="team in reviewedTeams">
						<td class="drag-handle" ng-if="isSmallScreen"></td>
						<td>
							<a href="" ng-click="reviewTeam(team)">{{team.name}} ({{team.product}})</a>
						</td>
						<td>{{ team.reviews[user].rank }}</td>
						<td>{{ team.reviews[user].average | rating }}</td>
						<td ng-repeat="question in questions">{{ team.reviews[user].ratings[question.label] | rating }}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td ng-if="isSmallScreen"></td>
						<td>Class {{ isSmallScreen ? 'Avg' : 'Average'}}</td>
						<td>Rank</td>
						<td>{{ sessionAverages['overall'] | rating }}</td>
						<td ng-repeat="question in questions">{{ sessionAverages[question.label] | rating }}</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12">
			<h3 class="judge-page-h3">Teams to be reviewed</h3>
			<ul class="judge-page-ul list-group">
				<li ng-repeat="team in unReviewedTeams track by team.name" class="to_review list-group-item">
					<a href="" ng-click="reviewTeam(team)">{{team.name}}</a>
				</li>
				<li ng-hide="unReviewedTeams.length">
					<h4>All teams have been reviewed!</h4>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h3 class="judge-page-h3">Question Legend</h3>
			<ul>
				<li ng-repeat="question in questions">{{ question | header:$index }}: {{ question.text }}</li>
			</ul>
		</div>
	</div>
</div>